---
// Internal imports 
import { Image } from "astro:assets";

// External imports
import "@fontsource/gotu";
import "@fontsource/sacramento";

// Data imports 
const { img, alt } = Astro.props;
---

<!-- container -->
<div class="w-full sm:w-4/5 lg:w-1/2 mx-auto font-sacramento text-black text-center group flex">
  <!-- left polaroid -->
  <div
    class="grid w-64 h-64 relative p-4 bg-red-500 shadow-polaroid rounded-md group-hover:animate-hideLeft left-24 -rotate-6"
  >
    <Image src={img} alt={alt} class="h-4/5 object-cover object-center shadow-img rounded-md w-full" />
  </div>
  <!-- main polaroid -->
  <div class="grid w-full md:w-64 h-64 z-10 bg-clear shadow-polaroid rounded-md polaroid">
    <div class="p-4">
      <Image src={img} alt={alt} class="h-4/5 object-cover object-center shadow-img rounded-md w-full" />
      <h3 class="p-4 text-3xl">
        <slot />
      </h3>
    </div>
  </div>
  <!-- right polaroid -->
  <div class="grid w-64 h-64 relative p-4 bg-blue-500 shadow-polaroid rounded-md group-hover:animate-hideRight right-24 rotate-6">
    <Image src={img} alt={alt} class="h-4/5 object-cover object-center shadow-img rounded-md w-full" />
  </div>
</div>


  <!--div class="grid w-64 h-64 relative p-4 bg-blue-500 shadow-polaroid rounded-md group-hover:animate-hideRight right-40 rotate-6"-->
